# After changing this file, check it on:
#   http://lint.travis-ci.org/
language: python
group: travis_latest
dist: xenial

# Travis whitelists the installable packages, additions can be requested
#   https://github.com/travis-ci/apt-package-whitelist
addons:
  apt:
    packages: &common_packages
      # Speedup builds
      - eatmydata

cache:
  directories:
    - $HOME/.cache/pip

stage: Comprehensive tests

stages:
    # Do the style check and a single test job, don't proceed if it fails
    - name: Initial tests
    # Do the rest of the tests
    - name: Comprehensive tests

matrix:
  include:
    # Do all python versions without environment variables set
    - python: 3.5
    - stage: Initial tests
      python: 3.6
    - python: 3.7
    - python: 3.8
    - python: 3.8
      env: USE_WHEEL=1 RUN_FULL_TESTS=1
    - python: 3.6
      env: USE_SDIST=1 RUN_FULL_TESTS=1 RUN_COVERAGE=1
   

before_install:
  - ./tools/travis-before-install.sh

script:
  - ./tools/travis-test.sh

after_success:
  - ./tools/travis-upload-wheel.sh
